<html>
  
  <head>
    <title>Sign up</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'custom-devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="registration">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
      <div class="container-d">
        <div class="box-e">
          <h2>Sign up</h2>
            <p></p>
            <div class="field-2">
              <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Username' %>
            </div>

            <p></p>
            <div class="field-2">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail' %>
            </div>

            <p></p>
            <div class="field-2">
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
            </div>
            <p></p>
            <div class="field-2">
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: 'Password confirmation' %>
            </div>
            <p></p>
            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>

            <%= f.hidden_field :role_id, value: 1 %>
            <div class="field-2">
              <%= f.label :login, "Already have an account?" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>    
          <div class="alert">
            <%= devise_error_messages! %>
          </div>
        </div>
      </div>
  </body>
</html>
