<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=form.label 'Enter 1 for normal user or 2 for administrator:' %>
  <div class="field">
    <%= form.text_field :role_id , id: :user_role_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Update' %>
  </div>
<% end %>

