<h1>Editing Access</h1>

<p>  
  <strong>Username:</strong>  
  <%= @user.username %>  
</p>

<p> 
  <% if @user.role.name == 'admin' %>
  	User is already admin.
  <% else %>   
	<strong>Role:</strong>
	<%= @user.role.name %> 
	
	<%= render 'form', user: @user %>
  <% end %>
</p>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
