<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td><b>Username</b></td>
      <td><b>Role</b></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <% if user.role_id == 1 %>
        <td><%= "User" %></td>
        <% elsif user.role_id == 2 %>
        <td><%= "Admin" %></td>
        <%end%>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit access', edit_user_path(user) %></td>
        
        <% if can? :destroy, User %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
