<head>   
  <title>Rent</title>   
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>   
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
  <%= csrf_meta_tags %>   
</head>
<body>
  <div id="form">

  </div>
</body>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">New Rent</h2>

          <%= form_with(model: rent, local: true) do |form| %>
          <% if rent.errors.any? %>
            <div id="my-error">
          <ul>
          <% rent.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control', id: :rent_name %>
          </div>

          <%= form.fields_for :items do |builder| %>   
            <%= render 'item_fields', f: builder %>   
          <% end %>   
          <%= link_to_add_fields "Add Item", form, :items %>  

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>

      </div>
      <br>
      <br>
    </div>
  </div>
</div>


<script type="text/javascript">   
  jQuery(function() {   
   $('form').on('click', '.remove_fields', function(event) {   
   $(this).prev('input[type=hidden]').val('1');   
   $(this).closest('fieldset').hide();   
   return event.preventDefault();   
   });   
   return $('form').on('click', '.add_fields', function(event) {   
   var regexp, time;   
   time = new Date().getTime();   
   regexp = new RegExp($(this).data('id'), 'g');   
   $(this).before($(this).data('fields').replace(regexp, time));   
   return event.preventDefault();   
   });   
  });   
  </script>