<table>
  <tr>
    <td>Produtct: <%= f.collection_select :product_id, Product.all, :id, :name %>  </td>
    <td>Quantity: <%= f.text_field :quantity%>  </td>
    <td> <%= f.hidden_field :_destroy %>  
  </tr>
</table>