<p id="notice"><%= notice %></p>

<h1>Rents</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td ><b>Name</b></td>
      <td><b>Total</b></td>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.name %></td>
        <td><%= rent.total %></td>
        <td><%= link_to 'Show', rent %></td>
        <% if can? :edit, Rent %>
          <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <%end%>
        <% if can? :destroy, Rent %>
          <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_rent_path, :class => 'btn btn-info' %>
