<p id="notice"><%= notice %></p>  
 <p>
 <%= link_to 'Back', rents_path %>  
 </p>

 <p>  
  <strong>Name:</strong>  
  <%= @rent.name %>  
 </p>  
 <p>
   <strong>User:</strong>
   <%= @rent.user.username %>
  </p>
 
 <h1>Listing Item</h1>  
 <table class="table table-striped">  
  <thead>  
   <tr>  
    <td><b>Product</b></td>  
    <td><b>Price</b></td>  
    <td><b>Quantity</b></td>  
    <td><b>Total</b></td>  
    <th></th>  
   </tr>  
  </thead>  
  <tbody>  
   <% @rent.items.each do |item| %>  
    <tr>  
     <td><%= item.product.name %></td>  
     <td><%= item.product.price %></td>  
     <td><%= item.quantity %></td>  
     <td><%= item.total %></td>  
    </tr>  
   <% end %>  
  </tbody>  
 </table>  
 <hr>  
  <p> Total </p>  
  <%= @rent.total%>  
 <hr>