<div class="jumbotron text-center">
  <h1>Welcome to Admin Capital</h1>
  <p>This is a Web Application built on Ruby on Rails</p> 
</div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Recent activities</h3>
      <p>
        <a href="/activities" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-th"></span> Feed
        </a>
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Products catalog</h3>
      <p>
        <a href="/products" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-oil"></span> Products
        </a>
      </p> 
    </div>
    <div class="col-sm-4">
      <h3>Add new rent</h3> 
      <p>
        <a href="/rents/new" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Rent 
        </a>
      </p> 
    </div>
  </div>
</div>
