<html>
  
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'custom-devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="login">
      <div class="container-d">
        <div class="box-d">
          <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <div class="field">
        <% if flash[:alert] %>
           <%= flash[:alert] %>
        <% end %>
      </div>
      
      <div class="field-2">
        <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'E-mail or Username' %>
      </div>

      <div class="field-2">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :remember_me do %>
            Remember me
            <%= f.check_box :remember_me %>
          <%end%>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Fazer login" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>  
  </div>
        </div>
    </div>

  </body>
</html>