body{
	background: white;
	font-size: 15px;
	text-align: center;
}

.actions input[type="submit"]{
	height: 30px;
	width: 180px;
  	font-size: 15px;
  	background-color: #37bc9b;
  	color: #fff;
  	border-radius: 6px;
}

.alert{
	font-size: 15px;
  	color: #000000;
}

#form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#login h2{
	text-align: center;
	color: #000000;
	font-family: sans-serif;
	font-size: 35px;
}

#registration{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#registration h2{
	text-align: center;
	color: #000000;
	font-family: sans-serif;
	font-size: 35px;
}

.field{
	text-align: center;
	color: #000000;
	font-family: sans-serif;
	font-size: 15px;
}

.field-3{
	text-align: center;
	color: #000000;
	font-family: sans-serif;
	font-size: 15px;
	width: 250px;
}

.field-2{
	text-align: center;
	color: black;
	font-family: sans-serif;
	font-size: 15px;
	right: 75px;
	padding-left: 50px;
	width: 250px;	
}

.container-d {
	width: 100vw;
	height: 100vh;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
.box-d {
	width: 300px;
	height: 300px;
	background: #D3D3D3;
}

.box-e {
	width: 300px;
	height: 350px;
	background: #D3D3D3;
}

body {
	margin: 0px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}


