<h2>Listing activities</h2>

 <table class="table table-striped table-bordered table-condensed sortable">  
   <thead>  
     <tr>  
       <th><%= "Recent Activities"%></th>  
     </tr>  
   </thead>  
   <tbody>  
        <% @activities.each do |activity| %>  
     <tr>  
       <td valign="top">   
         <%= activity.owner.username %>  
         <%= render_activity activity %>  
       </td>  
     </tr>  
     <% end %>  
   </tbody>  
   <tfoot>  
     <tr>  
       <td colspan="3"></td>  
     </tr>  
   </tfoot>  
 </table>