<head>   
  <title>Sale</title>   
  <%= stylesheet_link_tag "custom-devise", media: "all", "data-turbolinks-track" => true %>   
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
  <%= csrf_meta_tags %>   
</head>
<body>
  <div id="form">
  <%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="my-error">
      <!--<h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>-->

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control', id: :product_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</body>