<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td><b>Code<b></td>
      <td><b>Name</b></td>
      <td><b>Price</b></td>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <% if can? :edit, Product %>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <%end%>
        <% if can? :destroy, Product %>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Product %>
  <%= link_to 'New Product', new_product_path, :class => 'btn btn-info' %>
<%end%>
